.top-bar {
  background-color: $nav-background-color;

  .menu-text {
    color: $nav-text-color;
  }

  .active {
    font-weight: bold;
    color:white;
  }
}

.menu > li {
  background-color: $nav-background-color;
}

.menu > .menu-text > a {
  display: inline;
  padding: 0;
}
